<body>
  <div>
    <div class="banner" style="background-image: url(<%= image_path "hp-01.jpg" %>)">
      <div class="home-header">
        <h1><strong>Houseplant killer?</strong></h1>
        <p>Jungle helps you look after your house plants by reminding you</p>
        <p>when each plant is thirsty.</p>
        <% if user_signed_in? && current_user.user_plants.count > 0 %>
          <%= link_to 'Visit your jungle', user_plants_path, class: 'btn btn-primary btn-banner' %>
          <%= link_to 'Add to your jungle', plants_path, class: 'btn btn-primary btn-sec btn-banner' %>
        <% elsif user_signed_in? && current_user.user_plants.count == 0 %>
          <%= link_to 'Start your jungle', plants_path, class: 'btn btn-primary btn-banner' %>
        <% else %>
          <%= link_to 'Start your jungle', new_user_registration_path, class: 'btn btn-primary btn-banner' %>
        <% end%>
      </div>
    </div>
    <div class="how-it-works-outer">
      <div class="how-it-works">
        <h2>How it works</h2>
          <div class="home-cards">
            <div class="home-card">
              <%= image_tag "working_with_computer.svg", class: "home-image" %>
              <h5>Create your Jungle</h5>
              <h6>Sign up and start adding plants to your personal jungle</h6>
            </div>

            <div class="home-card">
              <%= image_tag "calendar.svg", class: "home-image"  %>
              <h5>Set goals</h5>
              <h6>Keep your plants alive by following your watering calendar</h6>
            </div>

            <div class="home-card">
              <%= image_tag "social_media_1.svg", class: "home-image"  %>
              <h5>Earn rewards</h5>
              <h6>Earn seeds and socialize with your fellow gardeners</h6>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
