<body>
  <div>
    <div class="header-container">
      <div class="home-header">
        <h1><strong>Houseplant killer?</strong></h1>
        <p>Jungle helps you look after your house plants by reminding you</p>
        <p>when each plant is thirsty.</p>
        <% if user_signed_in? && current_user.user_plants.count > 0 %>
          <%= link_to 'Visit your jungle', user_plants_path, class: 'btn btn-primary btn-banner' %>
          <%= link_to 'Add to your jungle', plants_path, class: 'btn btn-primary btn-sec btn-banner' %>
        <% elsif user_signed_in? && current_user.user_plants.count == 0 %>
          <%= link_to 'Start your jungle', plants_path, class: 'btn btn-primary btn-banner' %>
        <% else %>
          <%= link_to 'Start your jungle', new_user_registration_path, class: 'btn btn-primary btn-banner' %>
        <% end%>
      </div>
      <div class="head-img-container">
        <%= image_tag "hp-03.jpg", class:"head-img" %>
      </div>
    </div>

    <div class="how-it-works-container-outer">
      <div class="how-it-works-content-wrap">
        <div class="hiw-img-container">
          <%= image_tag "hiw2.jpeg", class:"hiw-img" %>
        </div>
        <div class="hiw-text-container">
          <div class="how-it-works-title">
            <h2><strong>How it works</strong></h2>
          </div>
          <div class="create hiw-content">
          <h4 class="hiw-titles">Create your Jungle</h4>
              <p>Sign up and start adding plants to your personal jungle</p>
          </div>
          <div class="set hiw-content">
              <h4 class="hiw-titles">Set goals</h4>
              <p>Keep your plants alive by following your watering calendar</p>
          </div>
          <div class="earn hiw-content">
              <h4 class="hiw-titles">Earn rewards</h4>
              <p>Earn seeds and socialize with your fellow gardeners</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
