<div class="banner-my-jungle" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= image_path "banner-5.jpg" %>)">
  <div class="jungle-header">
    <% if current_user == @user %>
    <h1>Your Jungle</h1>
    <% else %>
    <h1><%= @user.firstname %>'s Jungle</h1>
    <% end %>
  </div>
</div>

<div class="jungle-body">
  <div class="jungle-content">
    <div class="left-container">
      <% if @plants_to_water.empty? %>
      <h6><em>Hooray nobody's thirsty!</em></h6>
      <% end %>
      <div class="jungle-card-container">
        <% @plants_to_water.each do |plant| %>
        <%= render 'shared/user-plant-card', plant: plant %>
        <%= render './shared/modal-water', plant: plant %>
        <% end %>
        <% @plants_to_not_water.each do |plant| %>
        <%= render 'shared/user-plant-card', plant: plant %>
        <%= render './shared/modal-water', plant: plant %>
        <% end %>
      </div>
    </div>

    <div class="right-container">
      <div class="chris-card">
      <%= render './shared/user-avatar',user: @user %>
        <div class="seed-status-text">
          <%= link_to user_path(@user) do %>
          <div class="uppercard">
            <h6> <%= @user.firstname %></h6>
            <span class="badge badge-pill badge-primary badge-jungle"><%= @user.badge %> <i class="fas fa-seedling"></i></span>
          <p> <small> <%= @user.followers.size %> <%= "follower".pluralize(@user.followers.size) %></small></p>
           <p> <small><%= @user.seeds %> seeds</small></p>
          <% end %>
          </div>
        </div>
      </div>

      <div class="this-week-outer">
        <div class="this-week-container">
          <h6>🗓 Watering Schedule</h6>
          <%= render "./shared/cal-card", plants: @user_plants%>
        </div>
      </div>
    </div>
  </div>
</div>
